{% extends 'calendar/base.html' %}

{% block content %}
                <script>
                window.onload = function (){
                    setActive('calendar');
                }
                </script>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <form action="{% url 'edit_schedule' %}" method="post">
                    {% csrf_token %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Schedule</h6>
                            <a style="float: right" href="#" class="btn btn-info btn-icon-split" id="editButton" onclick="editSchedule();"><span class="text">Edit</span></a>
                            <a style="float: right" class="meet_link btn btn-success btn-icon-split"
                               hidden href="javascript:$('form').submit()"><span class='text'>Save</span></a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Monday</th>
                                            <th>Tuesday</th>
                                            <th>Wednesday</th>
                                            <th>Thursday</th>
                                            <th>Friday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                            {% for lesson in lessons %}
                                                {% if lesson.day == 'Mon' %}

                                                    <a target="_blank" href="{{ lesson.title.meet_link }}">{{ lesson.title }}<br>{{ lesson.time }}</a>
                                                    <br>
                                                    <input name="{{ lesson.title.id }}" class="meet_link" hidden placeholder="Meeting Link"
                                                           type="text" value="{{ lesson.title.meet_link }}">
                                                    <hr>

                                                {% endif %}
                                            {% endfor %}
                                            </td>
                                        <td>
                                            {% for lesson in lessons %}
                                                {% if lesson.day == 'Tue' %}

                                                    <a target="_blank" href="{{ lesson.title.meet_link }}">{{ lesson.title }}<br>{{ lesson.time }}</a>
                                                    <br>
                                                    <input name="{{ lesson.title.id }}" class="meet_link" hidden placeholder="Meeting Link"
                                                           type="text" value="{{ lesson.title.meet_link }}">
                                                    <hr>

                                                {% endif %}
                                            {% endfor %}
                                            </td>
                                        <td>
                                            {% for lesson in lessons %}
                                                {% if lesson.day == 'Wed' %}

                                                    <a target="_blank" href="{{ lesson.title.meet_link }}">{{ lesson.title }}<br>{{ lesson.time }}</a>
                                                    <br>
                                                    <input name="{{ lesson.title.id }}" class="meet_link" hidden placeholder="Meeting Link"
                                                           type="text" value="{{ lesson.title.meet_link }}">
                                                    <hr>

                                                {% endif %}
                                            {% endfor %}
                                            </td>
                                        <td>
                                            {% for lesson in lessons %}
                                                {% if lesson.day == 'Thu' %}

                                                    <a target="_blank" href="{{ lesson.title.meet_link }}">{{ lesson.title }}<br>{{ lesson.time }}</a>
                                                    <br>
                                                    <input name="{{ lesson.title.id }}" class="meet_link" hidden placeholder="Meeting Link"
                                                           type="text" value="{{ lesson.title.meet_link }}">
                                                    <hr>

                                                {% endif %}
                                            {% endfor %}
                                            </td>
                                        <td>
                                            {% for lesson in lessons %}
                                                {% if lesson.day == 'Fri' %}

                                                    <a target="_blank" href="{{ lesson.title.meet_link }}">{{ lesson.title }}<br>{{ lesson.time }}</a>
                                                    <br>
                                                    <input name="{{ lesson.title.id }}" class="meet_link" hidden placeholder="Meeting Link"
                                                           type="text" value="{{ lesson.title.meet_link }}">
                                                    <hr>

                                                {% endif %}
                                            {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
                <!-- /.container-fluid -->


{% endblock %}