{% extends 'calendar/base.html' %}
{% block content %}
    <script>
        window.onload = function (){
        setActive('issues');
        }
    </script>
        <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <form action="{% url 'edit_schedule' %}" method="post">
                    {% csrf_token %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Issues</h6>
                            <a href="" data-toggle="modal" data-target="#logoutModal">Add</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Lesson</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in issueData %}

                                        <tr>
                                            <td>
                                                {% for lesson in lessons %}
                                                    {% if lesson.id == data%}
                                                        <a href="{% url 'issues' %}lesson?id={{ data }}">[{{ lesson.type }}] {{ lesson.title }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for issue in issueData.items %}
                                                    {% if issue.0 == data %}
                                                        <p style="color: #169b6b">Done: {{ issue.1.Done }}</p>
                                                        <p style="color: red">Less {{ issue.1.New }}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
                <!-- /.container-fluid -->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add an issue</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            <form action="{% url 'add_issue' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <label>
                        Lesson <select name="lesson" class="form-select">
                        {% for lesson in lessons %}
                            <option value="{{ lesson.id }}">[{{ lesson.type }}] {{ lesson.title }}</option>
                        {% endfor %}
                    </select><br>
                    </label>
                        <label>
                        Issue Name <input name="title"><br>
                    </label>
                        <label>
                            Description <textarea name="desc"></textarea><br>
                    </label>
                        <label>
                        Document <input name="doc" type="file"><br>
                    </label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Add">
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}