{% extends 'calendar/base.html' %}
{% load fullurl %}
{% block content %}
    <script>
        window.onload = function (){
        setActive('issues');
        }
    </script>
        <!-- Begin Page Content -->
                <div class="container-fluid">

                     <div class="row">
                         {% for issue in issues %}
                             <div class="col-lg-6">
                                <!-- DataTales Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <a style="float: right" class="btn-danger btn" href="{% url 'remove_issue' %}?id={{ issue.id }}"><h5 class="m-0 font-weight-bold">×</h5></a>
                                        <h6 class="m-0 font-weight-bold text-primary">{{ issue.title }}</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <a style="float: right;font-size: 30px; cursor: pointer; color: #2a96a5" id="form_{{ issue.id }}_edit" onclick="editIssue('{{ issue.id }}');">
                                              <i class="fa fa-pencil-square"></i>
                                            </a>
                                            <a hidden style="float: right;font-size: 30px; cursor: pointer; color: #2a96a5" id="form_{{ issue.id }}_save" onclick="saveIssue('{{ issue.id }}','{% fullurl 'change_issue' %}');">
                                              <i class="fa fa-floppy-o"></i>
                                            </a>
                                            <h5>DeadLine</h5>
                                            <p style="color: green;">
                                                <b id="date_{{ issue.id }}_text">{{ issue.end_date }}</b>
                                                <input id="date_{{ issue.id }}_edit" hidden type="datetime-local">
                                            </p>
                                            <h5>Description</h5>
                                            {% csrf_token %}
                                            <p><span style="white-space: pre-line" id="desc_{{ issue.id }}_text">{{ issue.issue }}</span></p>
                                            <textarea id="desc_{{ issue.id }}_edit" class="container-fluid" hidden>{{ issue.issue }}</textarea>
                                            <h5>Issue Documents</h5>
                                            <p>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#issueModal{{ issue.id }}">Issue</a>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#answerModal{{ issue.id }}">Answer</a>
                                            </p>
                                            <h5>Status</h5>
                                            <p>
                                            <label for="status">Done</label>
                                                {% if issue.status %}
                                                    <input onchange="changeStatus(event, '{% fullurl 'change_issue' %}' );" id="status_{{ issue.id }}" name="status" type="checkbox" checked>
                                                {% else %}
                                                    <input onchange="changeStatus(event, '{% fullurl 'change_issue' %}' );" id="status_{{ issue.id }}" name="status" type="checkbox">
                                                {% endif %}
                                            {% if issue.answerFile %}
                                                <br>
                                            <label style="font-size: 20px"><b> Contains Answer File </b></label>
                                            {% endif %}
                                                </p>
                                        </div>
                                    </div>
                                </div>
                             </div>
                             <!-- Logout Modal-->
                            <div class="modal fade" id="answerModal{{ issue.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Choose an option</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'upload_issue_answer' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                                <input class="btn btn-success inf"  onclick="tagAsInput('up-a_{{ issue.id }}');" type="button" value="Upload">
                                                <input hidden name="id" value="doc_{{ issue.id }}">
                                                <input hidden name="type" value="answer">
                                                <input name="doc_{{ issue.id }}" id="up-a_{{ issue.id }}" onchange="this.form.submit();" type="file" hidden>
                                                {% if issue.answerFile %}
                                                <a target="_blank" type="submit" class="btn btn-info inf" href="{% fullurl 'calendar' %}{{ issue.answerFile }}">Open</a>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="issueModal{{ issue.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Choose an option</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'upload_issue_answer' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                                <input class="btn btn-success inf"  onclick="tagAsInput('up-i_{{ issue.id }}');" type="button" value="Upload">
                                                <input hidden name="id" value="doc_{{ issue.id }}">
                                                <input hidden name="type" value="issue">
                                                <input name="doc_{{ issue.id }}" id="up-i_{{ issue.id }}" onchange="this.form.submit();" type="file" hidden>
                                                {% if issue.issueDoc%}
                                                <a target="_blank" type="submit" class="btn btn-info inf" href="{% fullurl 'calendar' %}{{ issue.issueDoc }}">Open</a>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>
                <!-- /.container-fluid -->

{% endblock %}
