{% extends 'base.html' %}
{% block content %}
<!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="card shadow mb-4 col-lg-8">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Time table</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead>
                                            <tr class="bg-light-gray">
                                                <th class="text-uppercase">Time
                                                </th>
                                                <th class="text-uppercase">Monday</th>
                                                <th class="text-uppercase">Tuesday</th>
                                                <th class="text-uppercase">Wednesday</th>
                                                <th class="text-uppercase">Thursday</th>
                                                <th class="text-uppercase">Friday</th>
                                                <th class="text-uppercase">Saturday</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">09:00am</td>
                                                <td>
                                                   <span class="font-weight-bold text-dark">Web Programming</span>
                                                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                                                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                                                </td>
                                                <td>
                                                    <span class="badge-primary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Web</span>
                                                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                                                    <div class="font-size13 text-light-gray">Marta Healy</div>
                                                </td>

                                                <td>
                                                    <span class="badge-primary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Web</span>
                                                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                                                    <div class="font-size13 text-light-gray">Marta Healy</div>
                                                </td>
                                                <td>
                                                    <span class="badge-primary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Web</span>
                                                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                                                    <div class="font-size13 text-light-gray">Marta Healy</div>
                                                </td>
                                                <td>
                                                    <span class="badge-primary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Web</span>
                                                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                                                    <div class="font-size13 text-light-gray">Marta Healy</div>
                                                </td>
                                                <td>
                                                    <span class="badge-primary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Web</span>
                                                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                                                    <div class="font-size13 text-light-gray">Marta Healy</div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="align-middle">10:00am</td>
                                                <td>
                                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                                                    <div class="margin-10px-top font-size14">10:00-11:00</div>
                                                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                                                </td>
                                                <td class="bg-light-gray">

                                                </td>
                                                <td>
                                                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                                                    <div class="margin-10px-top font-size14">10:00-11:00</div>
                                                    <div class="font-size13 text-light-gray">Kate Alley</div>
                                                </td>
                                                <td>
                                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                                                    <div class="margin-10px-top font-size14">10:00-11:00</div>
                                                    <div class="font-size13 text-light-gray">Marta Healy</div>
                                                </td>
                                                <td>
                                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                                                    <div class="margin-10px-top font-size14">10:00-11:00</div>
                                                    <div class="font-size13 text-light-gray">James Smith</div>
                                                </td>
                                                <td class="bg-light-gray">

                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="align-middle">11:00am</td>
                                                <td>
                                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                                                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                                                </td>
                                                <td>
                                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                                                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                                                </td>
                                                <td>
                                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                                                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                                                </td>
                                                <td>
                                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                                                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                                                </td>
                                                <td>
                                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                                                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                                                </td>
                                                <td>
                                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                                                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="align-middle">12:00pm</td>
                                                <td class="bg-light-gray">

                                                </td>
                                                <td>
                                                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                                                    <div class="margin-10px-top font-size14">12:00-1:00</div>
                                                    <div class="font-size13 text-light-gray">Kate Alley</div>
                                                </td>
                                                <td>
                                                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>
                                                    <div class="margin-10px-top font-size14">12:00-1:00</div>
                                                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                                                </td>
                                                <td>
                                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                                                    <div class="margin-10px-top font-size14">12:00-1:00</div>
                                                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                                                </td>
                                                <td class="bg-light-gray">

                                                </td>
                                                <td>
                                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                                                    <div class="margin-10px-top font-size14">12:00-1:00</div>
                                                    <div class="font-size13 text-light-gray">Marta Healy</div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="align-middle">01:00pm</td>
                                                <td>
                                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                                                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                                                    <div class="font-size13 text-light-gray">James Smith</div>
                                                </td>
                                                <td>
                                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                                                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                                                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                                                </td>
                                                <td class="bg-light-gray">

                                                </td>
                                                <td>
                                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                                                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                                                    <div class="font-size13 text-light-gray">James Smith</div>
                                                </td>
                                                <td>
                                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                                                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                                                    <div class="font-size13 text-light-gray">Marta Healy</div>
                                                </td>
                                                <td>
                                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                                                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                                                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-4 mb-4">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Upcoming events</h6>
                                </div>
                                <div class="card-body">
                                    <div class="timeline p-4 block mb-4">
                                        <div class="tl-item active">
                                            <div class="tl-dot b-danger"></div>
                                            <div class="tl-content">
                                                <div class="font-weight-bold text-dark">Design Java Application
                                                    <div class="badge badge-danger ml-2">ALERT</div>
                                                </div>
                                                <div class="tl-date font-weight-bold text-dark mt-1">13.04.2022 22:00</div>
                                            </div>
                                        </div>
                                        <div class="tl-item">
                                            <div class="tl-dot b-warning"></div>
                                            <div class="tl-content">
                                                <div class="font-weight-bold text-dark">CNMO Exam
                                                <div class="badge badge-warning ml-2">Close to event</div></div>
                                                <div class="tl-date font-weight-bold text-dark mt-1">15.04.2022 09:45</div>
                                            </div>
                                        </div>
                                        <div class="tl-item">
                                            <div class="tl-dot b-primary"></div>
                                            <div class="tl-content">
                                                <div class="font-weight-bold text-dark">Java Exam</div>
                                                <div class="tl-date mt-1 font-weight-bold text-dark">17.04.2022 13:00</div>
                                            </div>
                                        </div>
                                        <div class="tl-item">
                                            <div class="tl-dot b-primary"></div>
                                            <div class="tl-content">
                                                <div class="font-weight-bold text-dark">Create Web Site</div>
                                                <div class="tl-date mt-1 font-weight-bold text-dark">18.04.2022 15:00</div>
                                            </div>
                                        </div>
                                        <div class="tl-item">
                                            <div class="tl-dot b-primary"></div>
                                            <div class="tl-content">
                                                <div class="font-weight-bold text-dark">Course Work</div>
                                                <div class="tl-date mt-1 font-weight-bold text-dark">20.05.2022 08:30</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer position-relative">
                                        <div align="center" class="text-dark font-weight-bold text-body">
                                            <a class="" href="{% url 'todo_list_view' %}">Visit Task Center</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
{% endblock %}