{% extends 'base.html' %}
{% block content %}
    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h2 class="m-0 font-weight-bold text-primary">Design App</h2>
                                </div>
                                <div class="card-body">
                                    <p>End Date: 09.10.2022 19:30</p><hr>
                                    <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="card shadow mb-4 col-lg-12">
                                    <div class="card-header py-3">
                                        <h5 class="m-0 font-weight-bold text-primary">Attachments</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li>index.py</li>
                                            <li>second.py</li>
                                            <li>third.py</li>
                                        </ul>
                                        <a href="#" class="btn btn-success btn-block">
                                            <span class="text">Download all</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="card shadow mb-4 col-lg-12">
                                        <div class="card-header py-3">
                                            <h5 class="m-0 font-weight-bold text-primary">Answer Files</h5>
                                        </div>
                                        <div class="card-body">
                                            <ul>
                                                <li>index.py</li>
                                                <li>second.py</li>
                                                <li>third.py</li>
                                            </ul>
                                            <a href="#" class="btn btn-success btn-block">
                                                <span class="text">Download all</span>
                                            </a>
                                            <a href="#" class="btn btn-primary btn-block">
                                                <span class="text">Choose file</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div hidden class="card shadow mb-4 col-lg-12">
                                        <div class="card-header py-3">
                                            <h5 class="m-0 font-weight-bold text-primary">Answer Files</h5>
                                        </div>
                                        <div class="card-body">
                                            <ol>
                                                <li>git clone https://github.com/professor/example.git</li>
                                                <li>git checkout -b "Name_LastName_GroupNumber"</li>
                                                <li>Do your task</li>
                                                <li>git add .</li>
                                                <li>git commit -m "Describe what did you do"</li>
                                                <li>git push</li>
                                            </ol>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
{% endblock %}